.column{
    width: 2.5rem;
    background-color: var(--SoftRed);
    border-radius: 0.2rem;
}

.currentDay{
    background-color: hsl(186, 34%, 60%);
}

.chartContainer{
    flex-direction: column;
    align-self: flex-end;
}

.chartContainer:hover{
    opacity: 0.7;
}