@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
    font-family: 'DM Sans', sans-serif;
    --width: 30rem;
    --SoftRed: hsl(10, 79%, 65%);
    --DarkBrown: hsl(25, 47%, 15%);
    --MediumBrown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --paleOrange: hsl(32, 90%, 92%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--DarkBrown);
    background-color: var(--Cream);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
    :root {
        font-size: 12px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
    :root {
        font-size: 14px;
    }
}