.container{
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.balanceHead {
  height: 7rem;
  width: var(--width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--SoftRed);
  color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.balanceHead>* {
  margin: 2rem;
}

.balanceHead p {
  font-size: 1.1rem;
  font-weight: 700;
}

.bodySection{
  height: 28rem;
  width: var(--width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border-radius: 1rem;
  padding: 2rem;
}

.divider{
  height: 0.12rem;
  width: 100%;
  background-color: hsl(28, 10%, 80%);
}

.chart{
  height: 60%;
  justify-content: space-between;
}